<%= form_for(admin_mural) do |f| %>
  <% if admin_mural.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_mural.errors.count, "error") %> prohibited this admin_mural from being saved:</h2>

      <ul>
      <% admin_mural.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
